/Curso API/node_modules
/Javascript/Primeira API/backend/node_modules
/Javascript/Segunda API/node_modules
/React/React Next/calculo_imc/calc_imc/node_modules
/React/React Next/projeto_cfb/node_modules
/React/Teste 1/api/node_modules
/React/Teste 1/node_modules
/React/Teste 2/frontend/node_modules
/React/Teste 2/backend/node_modules
/React/React Next/aulas
/Javascript/Cursos Introdutorios API/Curso API/mysql_data