@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'topo.css'; /*aqui eu faço a importação do css , ou posso optar por importar no componente também*/
@import 'bootstrap/dist/css/bootstrap.min.css';
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.btnPadrao{
  display: flex;
  background-color: bisque;
  padding: 10px;
  border-radius: 20px;
}

.campoForm{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.campoForm label{
  font-size: large;
}

.campoForm input{
  border: 1px solid black;
  padding: 4px;
  border-radius: 5px;
}