<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Exercicio</title>
</head>
<body>
    <header>
        <h1>Bem vindo a Loja do Mecanico</h1>
    </header>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aperiam corrupti ea sapiente, incidunt ipsa quia, nobis vitae nemo ut quo numquam fugiat illum quod doloribus! Modi minima accusantium voluptates!</p>
    {{{body}}}
    <footer>
        <p>suporte</p>
        <p>Fale conosco</p>
    </footer>
</body>
</html>