@charset "UTF-8";
/*
    em HTML é id = em CSS é (só pode ter um elemento)# 
    em HTML é class = em CSS é (pode ter vários elementos). 
*/

body{
    background-color: #58E892;
}
h1{
    color: #275340;
    
}
h1#principal{           /*Pode ser escrito também como #principal*/
color: white;
text-align: center;
background-color: #275340;
}
.basico{
    color: #0800ff;
}
.intermediario{
    color: yellow;
}
.avancado{
    color: red;
}
.destaque{
    background-color:burlywood;
}