<h1>Criar Produtos</h1>

<form action="/products/create" method="post">
    <div class="form-control">
        <label for="name">Nome do Produto :</label>
        <input type="text" name="name" placeholder="Digite o nome do produto">
    </div>
    <div class="form-control">
        <label for="name">URL da imagem do produto :</label>
        <input type="text" name="ImageUrl" placeholder="URL da imagem do produto">
    </div>
    <div class="form-control">
        <label for="price">Valor do Produto :</label>
        <input type="text" name="price" placeholder="Digite o valor do produto">
    </div>
    <div class="form-control">
        <label for="description">Descrição do Produto :</label>
        <textarea name="description" placeholder="Descrição do Produto"></textarea>
    </div>
    <input type="submit" value="Cadastrar" class="btn">
</form>