<h1>Cadastrar Livro</h1>

<form action="/books/insertbook" method="post" class="form">
    
    <div class="form-control">
        <label for="title">Digite o titulo do seu livro :</label>
        <input type="text" name="title" placeholder="digite o titulo">
    </div>

    <div class="form-control">
        <label for="title">Digite a quantidade de paginas do seu livro :</label>
        <input type="number" name="pagesqty" placeholder="quantidade de pagina">
    </div>
    <input type="submit" value="Cadastrar" class="button">
</form>
<div style="display: flex;">
    <a style="margin: auto; font-weight: 700;" href="/books">Ver Catálogo</a>
</div>