<main>
    {{#with valor}}
        <h3>Detalhes do produto : {{nome}}</h3>
        <p>Preço : R${{preco}}</p>
        <p>Descrição :{{descricao}}</p>
    {{/with}}
    <a href="/">Voltar para o inicio</a>
</main>