@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


.destaque{
  background-color: rgba(230, 9, 9, 0.534);
  color: white;
}

.campoForm{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  width: 500px;
}

.inputDados{
  border:1px solid black;
  padding: 0.25rem;
  width: 100%;
  border-radius: 0.5rem;
}