<h1>Adicione um Usuário</h1>

<form action="/usuario/criar" method="post" class="form">

    <div class="form-control">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" placeholder="Digite seu nome aqui">
    </div>

    <div class="form-control">
        <label for="ocupacao">Profissão:</label>
        <input type="text" name="ocupacao" placeholder="Digite seu trabalho aqui">
    </div>

    <div class="form-control form-checkbox">
        <input type="checkbox" name="newsletter"  >
        <label for="newsletter">Enviar Promoções:</label>
    </div>

    <input type="submit" value="cadastrar">

</form>