
main{
    display: flex;
    align-items: center;
    justify-content: center;

}

.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid  #000;
    margin: 5px;
    height: 600px;
    width: 400px;
}

.curso{
    margin: 10px;
    text-align: center;
    width: 200px;
    border: 2px solid black;
    background-color: rgba(128, 128, 128, 0.603);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;

}

#botoes{
    display: flex;
    flex-direction: column;
}

#btn,#btnr{
    width: 200px;
    height: 40px;
    justify-content: center;
    border: 2px solid  #000;
    border-radius: 10px;
    background-color: rgb(2, 2, 143);
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

#btnr{
    background-color: rgb(170, 2, 2);
}


.destaque{
    background-color: #800 !important;
    color: #fcc !important;
    border-color: #f00 !important;
} 