@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'android';
    src: url('pacotes/fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color:#c5ebd6 ;
    width:  100%;
    height: 100%;
}
header{
    font-family: Bebas Neue;
    text-align:center;
    background-image: linear-gradient(to bottom ,#3BD27F,#33B66D,#1B5936);
    color: white;
    width: 100%;
    height: 100%;
    padding: 3% 1% 0.4% 0%;
    margin:-4% -1% 0% -1%;

}
header > h1{
    font-size: 3.5em;
    padding: 0% 0% 0% 0%;
    
}
header > nav{
    font-size: 1.4em;
    text-align: left;
    padding-top: 1%;
    margin: 1% 0% 0% 1%;
    
}
header > p{
    margin: auto;
    width: 30%;
}
a.menu{
    font-weight: 800;
    text-decoration: none;
    color: white;
    padding-right: 1%;
    background-color:transparent;
}
a.menu:hover{
    background-color: #6b726e;
    border-radius: 10%;
}
main{
    background-color: white;
    margin: auto;
    width: 65%;
    padding: 1% 5% 1% 5%;
    border-radius: 0px 0px 10px 10px;
    
}
#principal{
    font-family: android;
    color:#1B5936 ;
    font-size: 2.5em;
}
p{
    font-size: 1.4em;
}
h2{
    background-image: linear-gradient(to right ,#84E1AD,#F2F2F2,white);
    font-family: android;
    font-size: 1.8em;
    color: #1B5936;
}
a{
    color: #1B5936;
    font-weight: 800;
    text-decoration: none;
    background-color: #6effad;
}
.especial::before{
    content: '⇒';
}
.especial::after{
    content: '⇐';
}
a.normal{
    background-color:#6effad ;
}
article{
    width: 85.5%;
    height: 400px;
    padding: 15%;
    margin: 0% -7.8% 0% -7.8%;
    background-color: #1B5936;
    

}
iframe[src*="youtube"] {
    width: 130%;
    height: 129%;
    margin: -9% 0% 0% -15%;
    border: none;
}
#extra{
    background-color: #a3f5c8;
    padding: 1% 1% 1% 1%;
    /*margin: 10% 1% 1% 1%;*/
    border-radius: 10px;
}
h3{
    background-color: #2b975a;
    margin: -1% -1% 0% -1%;
    padding: 1% 1% 1% 1%;
    border-radius: 10px 10px 0px 0px;
    color: white;
}
ul{
    display: inline-block;
    padding-right: 12%;
    margin:  10px;
}
li {
    list-style-type: none;
    font-weight: 700;
    font-size: 1.2em;
}
li::before{
    content: '➢  ';
}
footer{
    height: 40px;
    text-align: center;
    background-color: #1B5936;
    color: white;
    padding: 0% 1% 0% 1%;
    margin: 0% 0% -1% -1% ;
    

}